/* 

---------TYPOGRAPY----------

FONT-SIZE
12PX / 16PX / 20PX / 24PX / 32PX / 40PX / 48PX / 62PX
1.2rem / 1.6rem / 2rem / 2.4rem / 3.2rem / 4rem / 4.8rem / 6.2rem

FONT-WEIGHT
400 / 700 

LINE HEIGHT
1.2 / 1.5
  
LETTER SPICING
0 / -2

FONT-FAMILY
POPPINS

--------COLORS---------

PRIMARY
base: #339af0 (Skyblue)
tint: #d0ebff (Artic)
Shade: #1c7ed6 (Deepsea)

SECONDARY
base: #9775fa (lavender)
tint: #e5dbff (moonlight iris)
shade: #7048e8 (velvet night)

TERTIARY
base: #ff922b (pumkin)
tint: #ffe8cc (dawn)
shade: #f76707 (lava)

GREY
base: #495057 (slate)
tint: #f1f3f5 (pebble)
shade: #212529 (graphite)
white: #ffffff (white)
black: #000000 (black)

---------------BORDER RADIUS------------

4px / 8px / 20px

---------------SPACING SYSTEM------------

5px / 10px / 15px / 20px / 25px / 30px / 40px / 50px / 60px / 70px /80px / 90px / 100px / 125px / 150px / 200px / 250px / 300px / 400px / 500px 

*/

/* -----------GLOBAL STYLE------------ */

:root {
  /* FONT-SIZE */
  --text-sm: 1.2rem;
  --text-base: 1.6rem;
  --text-paragraph: 2rem;
  --text-h5: 2.4rem;
  --text-h4: 3rem;
  --text-h3: 4rem;
  --text-h2: 4.8rem;
  --text-h1: 6.2rem;

  /*  FONT-WEIGHT*/
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* LINE-HEIGHT */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;

  /* LETTER SPACING */
  --letter-spacing-tight: -2px;

  /* FONT FAMILY */
  --font-family: "Poppins", sans-serif;

  /* COLORS */
  --primary-base: #339af0;
  --primary-tint: #d0ebff;
  --primary-shade: #1c7ed6;
  --secondary-base: #9775fa;
  --secondary-tint: #e5dbff;
  --secondary-shade: #7048e8;
  --tertiary-base: #ff922b;
  --tertiary-tint: #ffe8cc;
  --tertiary-shade: #f76707;
  --grey-base: #495057;
  --grey-tint: #f1f3f5;
  --grey-shade: #212529;
  --white: #ffffff;
  --black: #000000;

  /* MISCELLANEOUS */
  --nav-height: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--grey-base);
  height: 100vh;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-tight);
  color: var(--grey-shade);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
  text-align: center;
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

p {
  font-size: var(--text-paragraph);
}

a {
  text-decoration: none;
  font-size: var(--text-base);
  display: inline-block;
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}

/* -----------COMPONENTS------------ */
.btn {
  font-size: var(--text-base);
  padding: 1.5rem 3rem;
  border-radius: 3rem;
}

.btn-primary:link,
.btn-primary:visited {
  color: var(--white);
  background-color: var(--primary-base);
  border: 2px solid var(--primary-base);
  transition: 0.5s;
}

.btn-primary:hover,
.btn-primary:active {
  color: var(--white);
  background-color: var(--primary-shade);
  border: 2px solid var(--primary-shade);
  transform: scale(1.05, 1.05);
  box-shadow: 0px 3px 6px var(--grey-base);
}

.btn-primary-outline:link,
.btn-primary-outline:visited {
  color: var(--primary-base);
  background-color: var(--white);
  border: 2px solid var(--primary-base);
  transition: 0.5s;
}

.btn-primary-outline:hover,
.btn-primary-outline:active {
  color: var(--primary-shade);
  background-color: var(--white);
  border: 2px solid var(--primary-shade);
  transform: scale(1.05, 1.05);
  box-shadow: 0px 3px 6px var(--grey-base);
}

.span {
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.span-navbar {
  background-color: var(--primary-base);
  border: 2px solid var(--primary-base);
  transition: 0.5s;
}

.span-navbar:hover {
  color: var(--primary-base);
  background-color: var(--white);
  border: 2px solid var(--primary-base);
}

.span-hero-heading-2 {
  background-color: var(--secondary-base);
  background-clip: text;
  color: transparent;
}

.span-hero-heading-1 {
  color: var(--black);
}

/* -----------SECTIONS------------ */

/* ----------NAVBAR---------- */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 6%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  /* height: var(--nav-height); */
  align-items: center;
  backdrop-filter: blur(10px);
}

.icon-menu {
  font-size: var(--text-h1);
  color: var(--primary-base);
  display: none;
}

.nav-mid {
  color: var(--grey-base);
  font-weight: var(--font-weight-bold);
  border-bottom: 3px solid transparent;
  transition: 0.8s;
}

.nav-mid:hover,
.nav-mid:active {
  color: var(--primary-base);
  font-weight: var(--font-weight-bold);
  border-bottom: 3px solid var(--primary-base);
}

.nav-link {
  display: flex;
  gap: 1.5rem;
}

.nav-icon {
  display: flex;
  gap: 1rem;
}

/* --------HERO-SECTION------- */
.hero-section {
  margin-top: 10rem;
  height: calc(100vh - var(--nav-height));
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 400px;
  column-gap: 3rem;
  align-items: center;
  justify-items: center;
  margin-bottom: 30rem;
}

.hero-heading-h2 {
  text-align: left;
  margin-bottom: 2rem;
}

.hero-paragraph {
  margin-bottom: 2rem;
}

.img-hero {
  border-radius: 50%;
  max-width: 400px;
  box-shadow: 0 0 25px var(--primary-base);
  width: 100%;
  border: 4px solid var(--primary-base);
  transition: 0.5s ease-in-out;
}

.img-hero:hover {
  box-shadow: 0 0 25px var(--primary-base), 0 0 50px var(--primary-base), 0 0 100px var(--primary-base);
}

.hero-btn-container {
  display: flex;
  gap: 2rem;
}

/* ---------ABOUTME---------- */
.about-container {
  margin-bottom: 30rem;
}

.flex-about-container-small {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.grid-about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.small-img-about {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.img-about-big {
  width: 100%;
  border-radius: 100%;
  max-width: 400px;
  border: 4px solid var(--primary-base);
  box-shadow: 0 0 25px var(--primary-base);
  transition: 0.5s ease-in-out;
}

.img-about-big:hover {
  box-shadow: 0 0 25px var(--primary-base), 0 0 50px var(--primary-base), 0 0 100px var(--primary-base);
}

.main-heading-about {
  margin-bottom: 8rem;
}

.flex-skills {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.main-paragraph {
  margin-bottom: 3rem;
}

.paragraph-about {
  font-size: var(--text-sm);
}

.tech-paragraph {
  margin-bottom: 3rem;
  font-weight: var(--font-weight-bold);
}

.font-skill {
  font-size: var(--text-sm);
  font-weight: var(--font-weight-bold);
  transition: 0.5s;
  background-color: var(--primary-base);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 2px solid var(--primary-base);
  width: 100%;
  text-align: center;
}

.font-skill:hover {
  color: var(--primary-base);
  background-color: var(--white);
  border: 2px solid var(--primary-base);
  transform: scale(1.05, 1.05);
}

/* ------PORTOFOLIO-SECTION-----*/
.main-container-portofolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--white);
  border: 2px solid var(--primary-base);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
}

.main-container-portofolio:hover {
  transform: scale(1.05, 1.05);
}

.portofolio-container {
  margin-bottom: 30rem;
}

.portofolio-heading {
  margin-bottom: 8rem;
}

.sub-heading-portofolio {
  text-align: center;
}

.Portofolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
  justify-items: center;
}

.paragraph-portofolio {
  font-size: var(--text-base);
  margin-bottom: 1rem;
}

.img-portofolio {
  max-width: 300px;
  object-fit: cover;
  border-radius: 2em;
  transition: 0.5s;
}

.img-portofolio:hover {
  transform: scale(1.05, 1.05);
}

.flex-tools {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.item-flex-tools {
  transition: 1s;
  color: var(--black);
  background-color: var(--white);
  padding: 0.5rem 1rem;
  font-size: var(--text-base);
  width: 100%;
  text-align: center;
  border-radius: 8px;
  border: 2px solid var(--primary-base);
}

.item-flex-tools:hover {
  color: var(--white);
  background-color: var(--black);
  border: 2px solid var(--black);
  transform: scale(1.05, 1.05);
}

/* ------CONTACT-SECTION------ */
.contact-container {
  margin-bottom: 30rem;
}

.contact-heading {
  margin-bottom: 8rem;
}

.grid-contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 5rem;
}

.grid-contact-sm {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  margin-bottom: 3rem;
}

.info-contact {
  display: flex;
  gap: 1.5rem;
}

.sosmed-icon {
  display: flex;
  gap: 2rem;
}

.input {
  padding: 0.5rem 1rem;
  font-size: var(--text-paragraph);
  width: 100%;
  border-radius: 4px;
  border: 2px solid var(--primary-base);
}

.flex-input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-input-container {
  width: 100%;
  padding: 5rem 5rem;
  background-color: var(--grey-tint);
  border-radius: 20px;
  border: 2px solid var(--primary-base);
}

.btn-secondary {
  transition: 0.5s;
  color: var(--white);
  background-color: var(--primary-base);
  border: 2px solid var(--primary-base);
}

.btn-secondary:hover {
  color: var(--primary-base);
  background-color: var(--white);
  border: 2px solid var(--primary-base);
}

.label {
  font-size: var(--text-paragraph);
}

/* -------FOOTER_SECTION------ */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sosial-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.link-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.sosial-icons {
  width: 20px;
}
.sosial-icons:hover {
  transform: rotate(45deg);
}

.footer {
  font-size: var(--text-sm);
  color: var(--grey-base);
}

.footer:hover,
.footer:active {
  color: var(--primary-base);
}
